input, label, button{
    display: block;
    margin: 5px;
}


button{
    padding: 10px;
    background-color: greenyellow;
    color: black;
    border: 2px black solid;
    border-radius: 4px;
}
button:hover{
    padding: 20px;
    border-radius: 60px;

    cursor: pointer;
    background-color: black;
    color: greenyellow;
    transition-duration: 1s;


}