<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Cupcake api</title>
</head>
<body>
<form id="new-cupcake-form">
    <label for="flavor">Enter a flavor</label>
    <input id="flavor" type="text" name="flavor" placeholder="Flavor">

    <label for="size">Enter a size</label>
    <input id="size" type="text" name="size" placeholder="size">

    <label for="rating">Enter a rating</label>
    <input id="rating" type="number" name="rating" placeholder="rating">

    <label for="image">Enter a image url</label>
    <input id="image" type="text" name="image" placeholder="image">

    <button class="post-cupcake">Submit</button>

</form>
    

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/script.js"></script>
</body>
</html>